<script src="iosBridge.js"></script>

<script>
	function onErrorCallingNativeFunction (err)
	{
		if (err)
		{
			alert(err.message);
		}
	}

	function onReady()
	{
        calliOSFunction("loadList", [],function(ret){
			var listValues = JSON.parse(ret.result);
			var selectElm = document.getElementById("select1");
			var options = "";
			for (var i = 0; i < listValues.length; i++)
			{
				options += "<option value='" + listValues[i] + "'>" + listValues[i] + "</option>";
			}
			selectElm.innerHTML = options;
		}, onErrorCallingNativeFunction);
	}

	function addToList(dataObj)
	{
		if (dataObj !== undefined && typeof dataObj.newListItem !== 'undefined')
		{
			var selectElm = document.getElementById("select1");
			selectElm.innerHTML += "<option value='" + dataObj.newListItem + "' selected>" + dataObj.newListItem + "</option>";
		}
	}
	
</script>

<body onload="onReady();">

<select id="select1" style="font-size:12pt;width:100%">
</select>

</body>